<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LisztExceptionExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81476EB11E07B1EA00CC8C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81476ECA1E07B1EA00CC8C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81476ED51E07B1EA00CC8C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
